.Task {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333a47;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.delete {
  margin-left: 4px;
  border: 0px;
  border-radius: 7px;
  outline: none;
  width: 25px;
  height: 25px;
}
.delete:hover {
  outline: none;
  background-color: rgb(235, 30, 30);
  color: white;
}

.checkbox {
  border-radius: 15px;
  width: 25px;
  height: 25px;
}

.taskText {
 
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 3px;
  border: 0px;
}

.TaskComplete {
  text-decoration: line-through;
  color: #407ff3;
}

.btnInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  outline: none;
  border: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btnInput:hover {
  background-color: rgb(80, 80, 253);
  color: white;
}

.inputInTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border-radius: 4px;
  border: none;
  margin-bottom: 4px;
}
