.container {
  outline: none;
  padding: 5px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.3s;
  border: none;

  &.green {
    background: green;

    :hover {
    }

    :active {
    }
  }

  &.blue {
    background: blue;

    :hover {
    }

    :active {
    }
  }

  &.red {
    background-color: rgb(121, 24, 24);

    &.activeClass {
      background-color: red;
    }
    :hover {
    }

    :active {
    }
  }

  &.default {
    background-color: #ffffff;

    &.activeClass {
      background-color: #f7d514;
    }

    :hover {
    }

    &:active {
    }
  }

  &.defaultTheme {
    padding-bottom: -10px;

    &.activeClassForThemeLight {
      margin-left: 55px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f7d514;
      &:hover {
        margin-left: 45px;
        background-color: #a09139;
        box-shadow: -2px 0 0 0 #d8fffe;
      }
    }

    &.activeClassForThemeDark {
      margin-left: -55px;
      background-color: #131518;
      color: #ffffff;
      background-color: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: -10px 0px 0 0 #608685;

      &:hover {
        box-shadow: 2px 0 0 0 #f7d514;
      }
    }

    &:active {
    }
  }
}
