.SubForm {
  overflow-y: scroll;
  background-color: #0f48f3;
  opacity: 1;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-height: 150px;
  max-width: 200px;
  transition: 0.5s;
}

.SubFormActive {
  max-height: 200px;
}

.SubFormClose {
  max-height: 0;
}
