.MenuDropInput {
  overflow-y: scroll;
  background-color: white;
  color: grey;
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin-right: 79px;
  border-radius: 5px;
  word-wrap: break-word;
  max-height: 150px;
  width: 200px;
  transition: 0.5s;
}

.MenuDropInputActive {
  max-height: 200px;
}

.MenuDropInputClose {
  max-height: 0;
}

.TodosItem {
  border-top: 1px solid grey; 
}