.App {
  text-align: center;
  padding-top: 60px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

/* 
.Todo-header {
  background-color: #282c34;
  min-height: 100vh;
}



h1 {
  margin-top: 40px;
  margin-bottom: 60px;
} */

