.App {
  text-align: center;
  padding-top: 60px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  &.dark {
    background-color: #131518;
  }
  &.light {
    background-color: #6594f0;
  }

  .helllo {
    fill: none;
    stroke-dasharray: 91000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 90px;
    stroke-dashoffset: -91000;
    stroke: #000;
    animation: draw 4s ease-out forwards;
    // (.19,1,.22,1); 
    transition-timing-function: cubic-bezier(0,.46,.59,.81);

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}


      /* <svg className='helllo'
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1920.000000 1280.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
        >
          <path
            d="M10305 11223 c-782 -63 -1271 -424 -1404 -1036 -23 -107 -41 -319
-34 -398 3 -27 2 -49 -1 -49 -3 0 -53 37 -111 83 -168 134 -372 280 -646 463
-343 229 -497 303 -745 356 -92 19 -138 23 -294 23 -192 -1 -281 -12 -435 -56
-519 -149 -1000 -554 -1254 -1054 -251 -497 -254 -981 -9 -1357 277 -425 821
-812 1451 -1033 l107 -38 -128 -86 c-473 -319 -860 -693 -1120 -1081 -151
-226 -247 -433 -303 -660 -21 -83 -24 -119 -24 -290 0 -183 3 -205 34 -350
128 -599 377 -979 767 -1167 367 -177 840 -161 1389 46 847 320 1800 1099
2340 1911 110 166 217 353 261 456 l27 64 52 0 c138 0 363 33 559 82 142 35
190 53 181 69 -9 14 -29 10 -180 -30 -155 -41 -330 -70 -476 -78 l-117 -6 44
129 c67 199 79 272 79 469 0 147 -3 181 -23 248 -68 236 -217 404 -468 528
-198 98 -313 111 -440 47 -98 -48 -185 -175 -226 -327 -26 -97 -28 -282 -4
-389 68 -309 284 -553 583 -662 95 -34 260 -70 325 -70 78 0 78 -2 -8 -171
-85 -166 -244 -414 -369 -574 -210 -269 -537 -609 -805 -835 -659 -556 -1375
-914 -1960 -981 -170 -19 -390 -7 -532 29 -527 136 -849 573 -984 1337 -25
142 -23 339 5 472 123 588 659 1250 1426 1760 66 44 125 83 132 87 7 3 78 -11
159 -34 259 -71 545 -120 814 -140 501 -37 909 47 1017 211 24 37 28 53 28
114 0 63 -4 77 -35 129 -160 266 -547 332 -1070 181 -237 -68 -551 -206 -795
-348 l-110 -64 -99 34 c-497 172 -914 419 -1211 717 -222 223 -343 414 -403
634 -23 88 -26 114 -26 287 0 170 2 201 26 300 168 710 783 1316 1499 1477 90
20 131 23 304 23 156 0 219 -4 285 -18 139 -30 260 -73 391 -140 185 -93 633
-396 967 -655 l159 -124 17 -126 c30 -224 92 -471 181 -714 53 -143 85 -188
166 -233 63 -34 180 -46 244 -25 57 19 110 72 125 125 56 200 -148 506 -614
921 l-79 70 -5 77 c-6 105 14 304 43 426 104 430 395 730 852 880 927 305
2297 -115 2872 -879 151 -200 236 -390 276 -613 21 -119 16 -358 -10 -476 -78
-353 -288 -700 -635 -1052 l-135 -137 -103 23 c-308 70 -609 56 -954 -44 -380
-112 -655 -247 -792 -391 -155 -163 -121 -314 88 -387 73 -26 346 -25 466 0
362 77 748 287 1149 626 62 53 124 104 136 114 22 16 26 16 126 -19 799 -274
1500 -1122 1662 -2009 31 -171 31 -503 -1 -648 -30 -137 -65 -236 -125 -351
-239 -466 -746 -741 -1487 -806 -149 -13 -541 -13 -695 1 -344 29 -672 106
-881 207 l-80 39 -33 124 c-186 700 -323 989 -468 989 -47 0 -88 -34 -119 -97
-27 -54 -29 -66 -29 -183 0 -103 4 -138 23 -200 79 -251 258 -460 538 -631
l59 -35 49 -175 c351 -1257 815 -1965 1551 -2367 132 -72 301 -146 315 -137
21 13 8 27 -42 48 -688 283 -1180 824 -1527 1679 -85 211 -311 912 -297 925 2
2 28 -8 59 -22 158 -70 394 -136 602 -169 182 -29 277 -37 525 -43 445 -10
791 33 1105 139 684 230 1051 752 1022 1453 -36 861 -654 1792 -1457 2195 -93
46 -217 97 -329 136 -9 3 33 53 121 142 229 234 371 427 489 667 128 260 164
412 163 680 -1 167 -3 188 -31 295 -34 129 -91 266 -152 369 -290 489 -886
884 -1610 1066 -284 71 -654 108 -896 88z m-1242 -1709 c224 -203 383 -394
459 -552 35 -72 42 -98 46 -161 3 -67 1 -80 -20 -111 -83 -123 -321 -89 -400
57 -61 112 -178 509 -212 718 -25 157 -27 177 -17 173 6 -1 70 -57 144 -124z
m2945 -1584 c61 -12 112 -26 112 -30 0 -10 -235 -206 -357 -296 -121 -90 -269
-183 -400 -250 -439 -225 -902 -277 -1060 -119 -38 38 -43 47 -43 89 0 84 50
157 171 246 201 149 645 319 964 369 39 6 81 13 95 15 14 3 111 3 215 1 146
-2 216 -8 303 -25z m-3462 -335 c219 -37 404 -193 404 -340 0 -131 -137 -218
-425 -271 -141 -26 -582 -26 -770 0 -188 26 -381 62 -535 101 -181 47 -180 46
-180 56 0 22 377 214 575 292 377 149 687 203 931 162z m1179 -208 c141 -58
240 -122 335 -217 97 -98 140 -165 180 -282 54 -158 59 -339 15 -548 -23 -110
-96 -321 -113 -327 -25 -10 -246 26 -334 53 -258 82 -446 240 -553 465 -58
123 -78 215 -79 364 0 145 14 218 64 320 99 204 264 262 485 172z m528 -2069
c87 -88 178 -307 292 -703 69 -244 81 -295 70 -295 -28 0 -196 129 -285 220
-178 179 -260 349 -268 553 -5 126 8 185 51 234 43 49 84 46 140 -9z"
          ></path>
        </g>
      </svg> */
