.App {
  text-align: center;
  padding-top: 60px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  .dark {
    background-color: #131518;
  }
}
